#container {
    margin: 0 auto;
    width: 400px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    float: left;
    margin-right: 20px;
  }
  
  
      
  .description {
    height: 30px;
    background:#333; 
    color: #fff;
    padding-top: 10px;
    font-family: open sans, sans-serif;
    text-align: center;
  }
      

      
  li:hover .description {
    text-decoration: underline;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  