body, h1, h2, h3, h4, h5, h6{
  font-family: "Lato", sans-serif;
}
h2 {
  margin: 0;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  background-color: rgb(193, 228, 252);
  color: rgb(16, 150, 240);
  padding-top: 10px;
}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/*
  Intro Sketch with button in middle
*/
.intro {
  background-image: url("images/lowpoly.png");
}
#value-birds {
  top: 150px;
}

.grey-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  background-color: #545454;
  border: 2px solid #454545;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  position: absolute;
  width: 260px;
  height: 70px;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -131px;
}

@keyframes fill {
  from {background-color: #545454;}
  to {background-color: #454545;}
}
.grey-box:hover {
  animation-name: fill;
  animation-duration: 200ms;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #454545;
}

.grey-box span{
  color: white;
  font-size: 25px;
  letter-spacing: 4px;
}

/*
  Projects Gallery Container
*/
.project-container {
  background-color: rgb(193, 228, 252);
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
/*
projects highlight
*/
.project {
  
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
  margin: 20px;
	max-width: 100%;
	overflow: hidden;
	width: 800px;
}
.project-info {
  background-color: rgb(52, 118, 218);
  color: white;
	padding: 30px;
  width: 350px;
  max-width: 350px;
}

.project-info h3 {
  font-size: 30px;
  line-height: 1.2;
}

.project-info h4 {
  font-size: 15px;
}
.project-description {
	padding: 30px;
	position: relative;
}
.project-description button {
  display: block;
  background-color: rgb(52, 118, 218);
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

.project-description button:hover {
  background-color: rgb(29, 104, 216);
}

/*w3 leftovers only footer*/
.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}