body, h1, h2, h3, h4, h5, h6{
  font-family: "Lato", sans-serif;
}
h2 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/*
  Intro Sketch with button in middle
*/
.intro {
  background-image: url("images/lowpoly.png");
}

.grey-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  background-color: #545454;
  border: 2px solid #454545;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  position: absolute;
  width: 260px;
  height: 70px;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -131px;
}

@keyframes fill {
  from {background-color: #545454;}
  to {background-color: #454545;}
}
.grey-box:hover {
  animation-name: fill;
  animation-duration: 200ms;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #454545;
}

.grey-box span{
  color: white;
  font-size: 25px;
  letter-spacing: 4px;
}





.center {
}

/*
  Projects Gallery Container
*/
.project-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 10%;
}

/*
projects highlight

*/
.project-box {
  width: auto;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  justify-self: center;
}
.project-box img {
  width: 200px;
  height: 200px;
}
.project-box .button {
  border: 2px solid grey;
  height: 50px;
  line-height: normal;
  color: grey;
  padding-top: 12px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin-right: 20px;
}
.button:hover {
  background-color: #00ffff;
  border: 2px solid #00ffff;
  color: white;
}
/*w3 leftovers*/
.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  padding: 14px 16px;
  margin-top: 10px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
  display: none;
  border-top: none;
}